.confirmInvestment h3 {
  text-align: center;
  margin-top: 50px;
  color: #094067;
  font-family: "Poppins-SemiBold";
  position: relative;
}
.confirmInvestment .container .gray-rectangle {
  background: #e5e5e5;
  border-radius: 6px;
  margin-top: 40px;
}

.confirmInvestment .container h6 {
  font-family: "Poppins-SemiBold";
  font-size: 16px;
  padding: 10px 20px;
  color: #094067;
}

.confirmInvestment .container .font-Poppins .input-fields {
  position: relative;
  width: fit-content;
}

.confirmInvestment h3 span {
  background: #e5e5e5;
  width: 225px;
  height: 18px;
  display: block;
  position: absolute;
  top: 49%;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.confirmInvestment .similarP {
  color: #6f6f6f;
  font-size: 13px;
  cursor: pointer;
  text-decoration: underline;
  margin: 20px 20px;
  font-family: "Poppins-Light";
}
.confirmInvestment .similarPDiv {
  text-align: end;
  margin: 20px 0;
}
.confirmInvestment .pagination {
  justify-content: right;
}
.confirmInvestment .page-item.active .page-link {
  background-color: #094067;
  border-color: #094067;
}
.confirmInvestment .page-link {
  color: #094067;
}
.confirmInvestment .labeltext {
  color: #094067;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Poppins-Bold";
  margin-right: 10px;
}
.confirmInvestment .selectClass {
  font-size: 14px;
  margin-right: 20px;
  border: 1px solid #094067;
  border-radius: 19px;
  width: 180px;
  padding: 1px 3px;
  color: #6f6f6f;
}
/*.confirmInvestment .selectClass2 {*/
/*  font-size: 11px;*/
/*  margin-right: 0;*/
/*  border: 1px solid #094067;*/
/*  border-radius: 19px;*/
/*  width: -webkit-fill-available;*/
/*  padding: 5px 0px;*/
/*  text-align: center;*/
/*  color: #ef4565;*/
/*  text-transform: uppercase;*/
/*  font-family: "Poppins-SemiBold";*/
/*}*/

/*.confirmInvestment .locIcon {*/
/*  font-size: 14px;*/
/*  margin-right: 7px;*/
/*  color: #adb5bd9c;*/
/*}*/
.confirmInvestment .regular-btn {
  width: 200px;
  height: 40px;
  font-size: 14px;
  margin: 0 10px;
}
.confirmInvestment {
  padding: 60px 40px;
}
.confirmInvestment .card-title {
  color: #094067;
  font-size: 23px;
  font-family: "Poppins-Bold";
}
.confirmInvestment .text_category {
  font-size: 11px;
  color: #9a9a9a;
  font-family: "Poppins-SemiBold";
  display: flex;
  justify-content: space-between;
}
.confirmInvestment .text_category span b {
  color: #094067;
  font-size: 14px;
  margin-right: 10px;
}
.confirmInvestment .text_category i {
  font-size: 17px;
  margin-right: 6px;
}
.confirmInvestment .card-text {
  color: #094067;
  font-size: 13px;
  font-family: "Poppins-Light";
  font-weight: 600;
  margin: 0;
}
.confirmInvestment .card-text2 {
  font-size: 11px;
  font-family: "Poppins-SemiBold";
  text-transform: uppercase;
  color: #9a9a9a;
  margin-top: 5px;
}
.confirmInvestment .card-text3 {
  font-size: 11px;
  margin-right: 0;
  padding: 5px 0px;
  color: #ef4565;
  text-transform: uppercase;
  font-family: "Poppins-SemiBold";
}
.confirmInvestment .card-text4 {
  color: #094067;
  font-size: 15px;
  font-family: "Poppins-SemiBold";
}
.confirmInvestment .card {
  margin-bottom: 20px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}

.confirmInvestment .sidenav {
  height: auto;
  width: 80px;
  text-align: center;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  border: 1px solid rgba(173, 181, 189, 0.79);
  border-radius: 10px;
}

.confirmInvestment .sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #094067;
  display: block;
  transition: 0.3s;
}

.confirmInvestment .sidenav a:hover {
  color: #0b5183;
}

.confirmInvestment .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.confirmInvestment .openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.confirmInvestment .sidenav .icon {
  color: #ef4565;
  padding: 13px 17px;
  font-size: 22px;
  cursor: pointer;
  border: 3px solid #094067;
  border-radius: 50%;
}
.confirmInvestment .sidenav span {
  position: absolute;
  top: -70px;
  left: 20px;
}
.confirmInvestment .p-70 {
  padding: 30px 70px 70px 70px;
}
.confirmInvestment .card .socialIcons i {
  font-size: 13px;
  background: #ef4565;
  color: white;
  padding: 10px;
  border-radius: 50%;
  margin: 0 3px 10px 3px;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.confirmInvestment .sidenav .hr_class {
  margin: 10px 30px;
}

.confirmInvestment .openbtn:hover {
  background-color: #444;
}

.confirmInvestment #main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.confirmInvestment #mySidebar {
  width: 80px;
}

.confirmInvestment .container .font-Poppins .buttoncss4 {
  width: 160px;
  height: 37px;
  font-size: 14px;
}
.confirmInvestment .container .font-Poppins .buttoncss5 {
  width: 160px;
  height: 37px;
  font-size: 14px;
  margin-left: 10px;
  background: #fff;
  border: 1px solid #ef4565;
  color: #ef4565;
}
.confirmInvestment .container .font-Poppins .input-fields label {
  color: #094067;
  font-size: 15px;
  font-weight: 700;
  font-weight: bolder;
  position: relative;
}

.confirmInvestment .pad {
  padding: 0 0px 0 10px;
}

@media only screen and (max-width: 768px) {
  .confirmInvestment .selectClass {
    margin-right: 10px;
    width: 100px;
  }
  .confirmInvestment .text-end {
    text-align: center;
  }
  .confirmInvestment {
    padding: 0;
  }
}
