.forgot-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}

.forgot-form-field {
  margin-bottom: 20px;
}
.forgot-container .buttoncss {
  height: 42px;
  width: 180px;
  size: 14px;
}
